.header {
  padding: 10rem;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 6rem;

  @media screen and (max-width: 55em) {
    grid-template-columns: 1fr;
    padding: 7rem;
  }

  @media screen and (max-width: 40em) {
    padding: 5rem;
  }

  &__item {
    grid-column: 2 / -1;

    @media screen and (max-width: 55em) {
      grid-area: 1 / 1 / 2 /-1;
    }
  }

  &__description {
    @media screen and (max-width: 55em) {
      @include center;
    }
  }

  &--img {
    @extend %imageDefaults;
  }

  &--text {
    font-size: 1.8rem;
    width: 70%;

    @media screen and (max-width: 55em) {
      width: 100%;
      text-align: center;
    }
  }
}
