.navigation {
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 40em) {
    padding: 2rem;
  }

  &__logo {
    width: 13rem;
    height: 5rem;

    @media screen and (max-width: 40em) {
      width: 8rem;
      height: 3rem;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;

    @media screen and (max-width: 40em) {
      gap: 3rem;
    }

    &--item {
      @supports not (gap: 5rem) {
        & {
          margin-left: 5rem;

          @media screen and (max-width: 40em) {
            margin-left: 3rem;
          }
        }
      }
    }

    &--link {
      text-decoration: none;
      color: $very-dark-blue;
    }
  }
}
