.container {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
}

.heading-1 {
  font-size: calc(1.6rem + 1.7vw);
  font-weight: 700;

  &--main,
  &--sub {
    display: block;
  }
}
